body {
  background: #252525; 
  margin: 0;
}
/* Style for the grid cells */
.grid-item {
  width: 20px;
  height: 20px;
  margin: 1px;
  background-color: #555;
  border: 0px solid yellow;
}

#grid-container {
  width: fit-content;
  margin-top: 10px;
  margin-left: 10px; 
}

.swipe-menu {
  position: fixed;
  top: 0;
  right: -300px; /* Initial position (off-screen) */
  width: 300px;
  height: 100%;
  background-color: #181818;
  transition: right 0.3s ease; 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Style for the slider */
.slider {
  width: 100%; /* Full-width */
  height: 25px;
  background: #222; /* Grey background */
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on hover */
}

.slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D; /* Green thumb */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D; /* Green thumb */
  cursor: pointer;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}

.settings-button {
  background-color: #454545;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.run-button {
  background-color: #3659A6;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
