body {
  background: #222; 
  margin: 0;
}

hr {
  border-color: rgb(107, 106, 106); /* Choose your desired color */
}

p {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

label {
  font-family: Arial, sans-serif;
}

.settings {
  margin-left: 15px;
  margin-right: 15px;
}

/* Style for the grid cells */
.grid-item {
  width: 22px;
  height: 22px;
  margin: 0px;
  background-color: #555;
  border: 1px solid black;
  transition: background-color 0.5s ease;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust as needed */
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

#grid-container {
  width: fit-content;
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center; 
}

.wrapper {
  display: grid;
  place-items: center; /* Center both horizontally and vertically */
  min-height: 90vh; /* Set minimum height to viewport height */
  padding: 12px; /* Add minimal padding */
}

.swipe-menu {
  position: fixed;
  top: 0;
  right: -300px; /* Initial position (off-screen) */
  width: 300px;
  height: 100%;
  background-color: #181818;
  transition: right 0.3s ease; 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Style for the slider */
.slider {
  width: 100%; /* Full-width */
  height: 25px;
  background: #222; /* Grey background */
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
  accent-color: azure;
}

.slider:hover {
  opacity: 1; /* Fully shown on hover */
}

.slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D; /* Green thumb */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D; /* Green thumb */
  cursor: pointer;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add this line */
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}

.settings-button {
  background-color: #454545;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.settings-button:hover {
  background-color: #525252;
}

.run-button {
  background-color: #3659A6;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.run-button:hover {
  background-color: #4269bb;
}

.randomize-button {
  background-color: #373f50;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  margin-top: 15px;
  cursor: pointer;
  opacity: 0.8;
}

.randomize-button:hover {
  opacity: 1.0;
}

.distance-label {
  font-size: 12px;
  padding: 0px;
  margin-right: 8px;
}
